vpc_ec2_task1/.terraform/
vpc_ec2_task1/.terraform.lock.hcl
vpc_ec2_task1/terraform.tfstate
vpc_ec2_task1/terraform.tfstate.backup

**/.terraform/
**/.terraform.lock.hcl


vpc_ec2_task2/.terraform/
vpc_ec2_task2/.terraform.lock.hcl
vpc_ec2_task2/terraform.tfstate  
vpc_ec2_task2/terraform.tfstate.backup

eks/.terraform/
eks/.terraform.lock.hcl
eks/terraform.tfstate
eks/terraform.tfstate.backup

ecs/.terraform/
ecs/.terraform.lock.hcl
ecs/terraform.tfstate
ecs/terraform.tfstate.backup


s3_cdn/.terraform/
s3_cdn/.terraform.lock.hcl
s3_cdn/terraform.tfstate
s3_cdn/terraform.tfstate.backup
s3_cdn/.terraform/providers/registry.terraform.io/hashicorp/aws/5.83.1/linux_amd64/terraform-provider-aws_v5.83.1_x5


iam_access/.terraform/
iam_access/.terraform.lock.hcl
iam_access/terraform.tfstate
iam_access/terraform.tfstate.backup
